input{
    width: 400px;
    height: 30px;
    padding: 6x 10px;
    border-radius: 8px;
}

.showIcon{
    position: absolute;
    width: 30px;
    top: 6px;
    right: 6px;
    border-radius: 8px;
    background-color: greenyellow;
    cursor: pointer;
}

.hideIcon{
    position: absolute;
    width: 30px;
    top: 6px;
    right: 6px;
    border-radius: 8px;
    background-color: greenyellow;
    cursor: pointer;

}

p{
    height:30px;
    color: red;
}

.inputContainer{
    position: relative;
}



