input{
    width: 400px;
    height: 30px;
    padding: 6x 10px;
    border-radius: 8px;
}

img{
    width: 30px;
    top: 322px;
    right: 40px;
    border-radius: 8px;
    background-color: rgb(24, 237, 245);
    cursor: pointer;
}

p{
    height:30px;
    color: red;
}