.register {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    gap: 20px;

    .registerPassword {
        position: relative;
    }

    img {
        position: absolute;
        top: 416px;
        right: 420px;
    }

    h1 {
        font-size: 40px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
            width: 400px;
            height: 30px;
            border-radius: 8px;
            background-color: black;
            padding: 6px 16px;
            outline: none;
            color: greenyellow;

            &::placeholder {
                color: greenyellow;
            }

            &.error {
                border: 3px solid red;
            }
        }

        button {
            width: 400px;
            height: 60px;
            background-color: black;
            border-radius: 8px;
            color: greenyellow;
            cursor: pointer;
        }
    }
}