.orderContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    gap: 20px;
    padding-block: 50px;

    input {
        width: 400px;
        height: 30px;
        border-radius: 8px;
        background-color: black;
        color: greenyellow;
        padding: 6px 16px;
        outline: none;

        &::placeholder {
            color: greenyellow;
        }
    }

    .orderButton {
        width: 100px;
        height: 30px;
        background-color: black;
        color: greenyellow;
        border-radius: 8px;
        cursor: pointer;

    }
}