footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 245, 28);

    h1{
        color: rgb(47, 127, 255);
    }
}