.products {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(15, 39, 180);
  gap: 20px;

  .productTop {
      display: flex;
      justify-content: space-between;

      .basketIcon {
          width: 32px;
          height: 32px;
          cursor: pointer;
      }
  }

  .productMenu {
      display: flex;
      gap: 20px;
  }

}