.products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: greenyellow;
    gap: 20px;
    padding-block: 20px;

    .productTop {
        display: flex;
        justify-content: space-between;

        .basketIcon {
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
    }

    .productMenu {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }

}
